/*FONTS*/
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&family=Libre+Baskerville&display=swap');

/*FORM*/
.formContainer {
  width: 90rem;
  background: rgba(255, 255, 255, 0.09);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(9.5px);
  margin: 0rem auto;
  border-radius: 2rem;
  padding: 3rem 2rem;
  position: relative;
  user-select: none;
  z-index: 1;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.formContainer h1 {
  font-size: 3rem;
  color: #1a1b1e;
  margin: 0 auto;
  font-family: 'Libre Baskerville', serif;
  text-transform: uppercase;
  margin-bottom: 3rem;
  letter-spacing: 0.3rem;
}
.formContainer form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

/*FIRST CONTAINER*/
.firstContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  min-height: 9rem;
  border-radius: 2rem;
  font-family: 'GFS Didot', serif;
}
.animInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 16rem;
}
.animInputs > input {
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  border: none;
  border: 0.15rem solid rgb(223, 220, 220);
  outline: none;
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  background-color: transparent;
  box-shadow: rgba(50, 50, 93, 0.1) 0px 6px 12px -2px, rgba(0, 0, 0, 0.15) 0px 3px 7px -3px;
}
.animInputs > input:focus {
  border: 0.3rem solid rgb(177, 172, 243);
}
.animInputs > input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.animInputs > input[type='number'] {
  -moz-appearance: textfield;
}
.animInputs > label {
  position: absolute;
  top: 1.25rem;
  left: 2.5rem;
  font-size: 1.4rem;
  transition: 0.2s;
  color: grey;
}
.animInputs > span {
  position: absolute;
  top: 1.25rem;
  right: 1rem;
  font-size: 1.6rem;
  color: grey;
}
.animInputs > input:focus + label,
.animInputs > input:valid + label {
  background-color: wihte;
  top: -0.8rem;
  left: 2rem;
  background-color: white;
  border-radius: 0.4rem;
  padding: 0rem 0.5rem;
  z-index: 2;
}

/*DROPDOWNS*/
.dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  border-radius: 1rem;
  border: 0.15rem solid rgb(223, 220, 220);
  align-items: center;
  width: 100%;
  background-color: #ffffff;
  max-height: 20rem;
  overflow-y: auto;
  top: 4.6rem;
  z-index: 5;
}
.dropdown input[type='radio'] {
  position: absolute;
  visibility: hidden;
  display: none;
  z-index: 5;
}
.dropdown div {
  width: 100%;
}
.dropdown label {
  width: 90%;
  color: grey;
  display: inline-block;
  cursor: pointer;
  padding: 0.5rem;
  position: relative;
  font-size: 1.6rem;
}
.dropdown label:hover {
  background-color: #f0f7fa;
}
.dropdown::-webkit-scrollbar {
  width: 10px;
}
.dropdown::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 0.25rem 0;
  border-radius: 1rem;
}
.dropdown::-webkit-scrollbar-thumb {
  background: rgb(182, 181, 181);
  border-radius: 0.4rem;
}
.dropdown::-webkit-scrollbar-thumb:hover {
  background: rgb(105, 105, 105);
}
.dropdown::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

/* RANGE INPUTS*/

.secondContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.rangeInputs {
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.rangeInputs h2 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  color: #4e4e4e;
}
.rangeInputs label {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: grey;
}
.rangeInputs input {
  width: 100%;
  margin-bottom: 2rem;
}

/*ERROR CLASS*/

p.error {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  margin-left: 1rem;
  color: red;
}
.error {
  border-color: red !important;
}

/*RESPONSIVE*/
@media screen and (max-width: 600px) {
  .formContainer {
    width: 100%;
  }
  .formContainer h1 {
    font-size: 2rem;
  }
  .rangeInputs {
    width: 90%;
  }
  .secondContainer {
    justify-content: center;
  }
  .animInputs > label {
    color: #1f1f1f;
  }
  .animInputs {
    width: 100%;
    min-height: 8rem;
  }
  .buttonDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 900px) and (min-width: 601px) {
  .formContainer {
    width: 50rem;
  }
  .formContainer h1 {
    font-size: 2.5rem;
  }
  .rangeInputs {
    width: 90%;
  }
  .secondContainer {
    justify-content: center;
  }
  .animInputs:nth-child(1) {
    width: 100%;
  }
  .animInputs {
    width: 48%;
    min-height: 8rem;
  }
  .buttonDiv {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
