.money {
  position: absolute;
  background-color: transparent;
  box-sizing: border-box;
  overflow: hidden;
  display: none;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatTwo {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-7px);
  }
  100% {
    transform: translatey(0px);
  }
}
.gold {
  top: 4rem;
  left: 2rem;
  font-size: 3rem;
  color: #e9f028;
  animation: float 10s ease-in-out infinite;
}

.euro {
  top: 1rem;
  left: 3rem;
  font-size: 2rem;
  color: #f72c2c;
  animation: floatTwo 10s ease-in-out infinite;
}
.sterling {
  top: 2rem;
  left: 10rem;
  font-size: 2rem;
  color: #032db4;
}
.dollar {
  top: 5rem;
  left: 6rem;
  font-size: 2rem;
  color: #06b406;
  animation: floatTwo 10s ease-in-out infinite;
}
.lira {
  top: 10rem;
  left: 13rem;
  font-size: 2rem;
  color: rgb(155, 44, 44);
  animation: float 10s ease-in-out infinite;
}

.bull {
  position: absolute;
  top: 18rem;
  left: -18rem;
}
.bull img {
  width: 55rem;
  height: auto;
}
