.navbar {
  height: 8rem;
  width: 100vw;
  padding: 1rem 5rem;
  display: flex;

  justify-content: space-between;
  align-items: flex-start;
}

.languages img {
  width: 4rem;
  height: auto;
}
.languages button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.languages button p {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.languages button:hover p {
  text-decoration: underline;
}
